<script id="popup-editor" type="text/x-kendo-template">
    <!--<label>Produto</label>-->
    <!--<input name="Produto"-->
    <!--data-bind="value:idProduto"-->
    <!--data-value-field="descricao"-->
    <!--data-text-field="descricao"-->
    <!--data-source="myapp.ds.produto"-->
    <!--data-role="dropdownlist"/>-->
    <!--</div>-->
    <!--<div class="well">-->
    <!--<div class="row">-->
    <!--<div class="form-group col-sm-4 col-md-2">-->
    <!--<label>Cód.Barras</label>-->
    <!--<input id="codbarras" class="form-control"-->
    <!--ng-model="produto.codigoBarra"/>-->
    <!--</div>-->
    <!--<div id="windoweditor"></div>-->
    <!--<div class="form-group col-sm-8 col-md-4">-->
    <!--<label>Descrição</label>-->
    <!--<input id="descricao" class="form-control"-->
    <!--ng-model="produto.descricao"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-8 col-md-4">-->
    <!--<label>Especificação</label>-->
    <!--<input id="especificacao" class="form-control" disabled="true"-->
    <!--ng-model="produto.especificacao"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-4 col-md-2">-->
    <!--<label>Unidade</label>-->
    <!--<input id="unidade" class="form-control" disabled="true"-->
    <!--ng-model="unidade.unidade"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-4 col-md-3">-->
    <!--<label>Fabricante</label>-->
    <!--<input id="fabricante" class="form-control"-->
    <!--ng-disabled="produto.descricao==null"-->
    <!--ng-model="fabricante.fabricante"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-4 col-md-2">-->
    <!--<label>Fabricação</label>-->
    <!--<input id="dtfabricacao" class="form-control"-->
    <!--ng-disabled="produto.descricao==null"-->
    <!--ng-model="consumo.dtFabricacao"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-4 col-md-2">-->
    <!--<label>Validade</label>-->
    <!--<input id="dtvalidade" class="form-control"-->
    <!--ng-disabled="produto.descricao==null"-->
    <!--ng-model="consumo.dtValidade"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-4 col-md-2">-->
    <!--<label>Quantidade</label>-->
    <!--<input id="qtd" class="form-control"-->
    <!--ng-disabled="produto.descricao==null"-->
    <!--ng-model="consumo.quantidadeEmEstoque"/>-->
    <!--</div>-->
    <!--<div class="form-group col-sm-4 col-md-3">-->
    <!--<label>Dt.Entrada</label>-->
    <!--<input id="dtentrada" class="form-control" disabled="true"-->
    <!--ng-model="consumo.dtQuandoRecebeu"/>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
</script>