<section class="well">
    <form class="form-horizontal">
        <div class="form-group col-sm-12 col-md-3">
            <label for="numPatrimonio">n. Patrimonio</label>
            <input id="numPatrimonio" class="k-textbox k-state-disabled" disabled="true"
                   ng-model="ctrl.bemPermanente.numPatrimonio"/>
        </div>
        <div class="form-group col-sm-12 col-md-9">
            <label>Descrição</label>
            <input class="k-textbox k-state-disabled" disabled="true"
                   ng-model="ctrl.bemPermanente.descricaoBem"/>
        </div>
        <div class="form-group  col-sm-12 col-md-2">
            <label>Estado</label>
            <input class="k-textbox k-state-disabled" disabled="true"
                   ng-model="ctrl.bemPermanente.idEstadoConservacao.descricaoEstadoFisico"/>
        </div>
        <div class="clearfix"></div>
    </form>
</section>
<section class="well">
    <form class="form-horizontal">
        <div class="form-group col-sm-12 col-md-3">
            <label>Dt.Retirada</label>
            <input kendo-date-picker
                   k-ng-model="ctrl.empPermanente.dtPrevistaRetirada"/>
        </div>
        <div class="form-group col-sm-1 col-md-1"></div>

        <div class="form-group col-sm-12 col-md-3">
            <label>Dt.Devolucao</label>
            <input kendo-date-picker
                   k-ng-model="ctrl.empPermanente.dtPrevistaDevolucao"/>
        </div>
        <div class="clearfix"></div>
    </form>
</section>
<section class="well">
    <form class="form-horizontal">
        <div class="form-group col-sm-12 col-md-12">
        <label>Justificativa</label>
        <input class="k-textbox" ng-model="ctrl.empPermanente.justificativa"/>
    </div>
        <div class="clearfix"></div>
    </form>
</section>

<div class="row">
    <div class="col-md-12">
        <button kendo-button
                style="width: 25%" icon="'k-icon k-i-check'"
                ng-click="ctrl.fSaveConsumo(); wEntrada.close()">Salvar
        </button>

        <button kendo-button
                style="width: 25%" icon="'k-icon k-i-cancel'"
                ng-click="wEntrada.close()">Cancelar
        </button>
    </div>
</div>