<div ng-controller="emprestimoCtrl">

    <section class="well">
        <h3 class="ra-well-title">Controle de Emprestimo</h3>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Localizar Bem</label>
                <span class="k-textbox k-button k-space-right">
                    <input class="form-control" ng-change="ctrl.fChange()"
                           ng-model="ctrl.nomebusca"/>
                    {{ctrl.produto}}
                    <a class="k-icon k-i-search"></a>
                    </span>
            </div>

            <div class="form-group col-md-6">
                <label>Bem Selecionado: </label>
                <br>
                <span ng-if="ctrl.bemPermanente.idBemPermanente!=null">{{ctrl.bemPermanente.numPatrimonio}},
                    {{ctrl.bemPermanente.descricaoBem}}, {{ctrl.bemPermanente.salaAlocacao.setor}},
                    {{ctrl.bemPermanente.idEstadoConservacao.descricaoEstadoFisico}} </span>
                <span ng-if="ctrl.bemPermanente.idBemPermanente==null">Nenhum produto selecionado!</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <button kendo-button ng-disabled="ctrl.bemPermanente.idBemPermanente==null"
                        style="width: 25%" icon="'k-icon k-i-redo'"
                        ng-click="ctrl.fNovaEntrada(); wEntrada.center().open()">Entrada
                </button>
                <div kendo-window="wEntrada" options="wEntradaOptions">Window Add no Estoque</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <kendo-grid options="mainGridOptions"></kendo-grid>
            </div>
        </div>
    </section>
</div>

